@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css") all;

.flex-container {
  display: flex;
  width: 100%;
  padding: 0px;
}

.flex-container > button {
  flex: auto;
}

.logo, .navbar {
  background-color: #222d32 !important;
}

.logo > * > img {
  width: 76px;
  height: 20px;
}

.logo > a {
  float: left;
}

.btn {
  white-space: normal;
}

.box-left {
  padding-right: 7px;
}

.box-right {
  padding-left: 8px;
}

div.one-line > p {
  display: inline;
  padding-top: 2px;
}

.control-label {
  font-weight: normal;
}

.nist_shinyalert {
  
}

.form-grouping {
  border-left: 1px solid #ddd;
  padding-left: 5px;
}

.centered-image {
  text-align: center;
}

a > i {
  padding-left: 2px;
  padding-right: 4px;
}