p.caption {
  color: #777;
  margin-top: 10px;
  text-align: center;
  padding: 0 10%;
}

.level1 > h1 {
  border-top: 1px solid black;
  border-left: 15px solid black;
  background: whitesmoke;
  padding-left: 10px;
}

.level2 > h2 {
  background: whitesmoke;
  padding-left: 15px;
  border-left: 10px solid black
}

.level3 > h3 {
  background: whitesmoke;
  padding-left: 20px;
  border-left: 5px solid black
}

.level4 > h4 {
  background: whitesmoke;
  padding-left: 23px;
  border-left: 2px solid black
}

table > caption {
  font-weight: bold;
  background-color: black;
  color: white;
  text-align: left;
  padding-left: 15px;
}

td:first-child {
  min-width: 200px;
}

td:nth-child(2) {
  min-width: 105px;
}

p code {
  white-space: inherit;
}

sup {
  padding: 0 3px;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

img {
  display: block;
  margin: auto;
}

#book-links {
  padding-top: 5px;
}

#nist-logo-link {
  filter: brightness(0) saturate(100%) invert(26%) sepia(10%) saturate(818%) hue-rotate(162deg) brightness(89%) contrast(94%);
}

.dropdown-menu {
  min-width: 320px !important;
}

.dropdown-menu > .buttons > .button {
  text-align: left !important;
  padding: 8px 10px !important;
}

#intro-contributors > ul > li > p > a > img {
  display: inline;
  width: 13px;
}

#intro-contributors > ul > li > p {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  text-align: justify;
}

.footnotes > ol > li > p > code {
  display: block;
}

.footnotes > ol {
  background-color: #f7f7f7;
  font-size: small;
}

.fig-right {
  display: inline;
  float: right;
  margin: 0 5%;
  width: 40%;
  max-width: 330px;
  min-width: 250px;
}

.signature-block { padding-left: 10px; }
.signature-block > span { display: block; }
.signature-block > .names { padding: 0.5em; margin-bottom: 0 !important;}
.signature-block > * > sup { font-size: xx-small !important; }
.signature-block > .affiliation { font-size: small; }

div.csl-entry {
  padding-bottom: 0.5em;
  text-indent: -1.5em;
  padding-left: 1.5em;
}

li.part, li.appendix {
  border-top: 1px solid rgba(0,0,0,0.07);
}

li.part > span, li.appendix > span {
  cursor: default !important;
  opacity: 0.75 !important;
}


/* Customization for gitbook overrides */
.body-inner {
  top: 0 !important;
}

.page-inner {
  max-width: 95% !important;
  padding: 10px 0 30px;
}

@media (min-width: 1241px) {
  .book-body .navigation {
    max-width: 3% !important;
    min-width: 3% !important;
  }
}

#gitbook-title {
  margin-top: 5px !important;
}

#github-link {
  color: black;
  white-space: normal;
}

#github-link:hover {
  color: #008cff
}

#github-link.visited {
  color: black !important;
  white-space: normal;
}

body {
  -webkit-text-size-adjust: 100%;
}

/* NIST footer style overrides because gitbook is single page */
.nist-footer__menu-item:after {
  margin-right: 0.5em !important;
}
.nist-footer {
  padding: 10px 0px !important;
}
.nist-footer__logo > a > img {
  margin-top: 0 !important;
}

.book-header {
  margin-top: -3px;
  height: 48px !important;
}

.book-header > a {
  height: 47px !important;
}

.book > .book-summary > .book-search {
  transition: opacity 0s ease !important;
  top: -100px !important;
  opacity: 0;
}

.book.with-search > .book-summary > .book-search {
  top: 0px !important;
  opacity: 1;
}
